{
    margin:0;
    padding:0;
}
header
{
    background-image: url (JHCI3290.jpg); 
    height:100px;
    background-size: cover;
    background-position: center;
}



body{
    background-color: cornsilk
}
h1{
    color: coral
}
